html,body{
	height:100%;
}
@media screen and (max-width: 960px) {
body{
margin:20px;
}
}
@media screen and (min-width: 960px) {
body{
margin:20px 50px;
}
}
.music{
	text-align: center;
}
.blog_details{
margin: 0 auto;
}
.extendInfo{
margin:15px 0;
color: seagreen;
}
p {
    margin: 10px 0;
}
.topic {
  	max-height: 100%;
    text-align: center;
}
.topic img {
max-width:100%;height:auto; 
}
.topic #imgTitle{
    padding: 12px;
    color: #3851A2;
    display: block;
}